.about{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.about__container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 25px;
    text-align: center;
    color: #ffffff;
    margin-bottom: 50px;
}

.about__image > img{
    width: 80%;
    height: 100%;
    border: 3px solid rgb(252, 4, 4);
    border-radius: 50px;
}

.about__data{
    padding: 30px;
    line-height: 2;
    /* padding-top: 0; */
}
.about__data > p{
    margin-bottom: 30px;
    font-size: 1rem;
    font-weight: 500;
}

@media screen and (max-width: 960px){
    .about__container{
        grid-template-columns: 1fr;
        width: 60%;
        border: 2px solid red;
        margin-left: auto;
        margin-right: auto;
    }
    .about__image{
        display: none;
    }
    /* .about__data{
        width: ;
    } */
}

@media screen and (max-width: 750px){
    .about__container{
        width: 95%;
    }
}